lazer.h
*.a
*.so

scripts/rf-abdlop-codegen.sage.py
scripts/rf-quad-codegen.sage.py
scripts/rf-quad-eval-codegen.sage.py
scripts/moduli.sage.py
scripts/estimator/

src/*.o
src/lazer.c

tests/encoding-test
tests/rf-abdlop-test
tests/rf-quad-test
tests/rf-quad-many-test
tests/rf-quad-eval-test

tests/*.h
