lazer.h
*.a
*.so

scripts/modified-abdlop-codegen.sage.py
scripts/modified-quad-codegen.sage.py
scripts/modified-quad-eval-codegen.sage.py
scripts/moduli.sage.py
scripts/estimator/

src/*.o
src/lazer.c

tests/encoding-test
tests/modified-abdlop-test
tests/modified-quad-test
tests/modified-quad-many-test
tests/modified-quad-eval-test

tests/*.h
